@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --color-blue-dark: hsl(233, 47%, 7%);
  --color-blue-desaturated: hsl(244, 38%, 16%);
  --color-violet: hsl(277, 64%, 61%);

  --color-white: hsl(0, 0%, 100%);
  --color-white-light: hsla(0, 0%, 100%, 0.75);
  --color-white-lighter: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

img {
  display: block;
}

main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 70vw;
  border-radius: 5px;
  overflow: hidden;
}

.stats__article {
  background-color: var(--color-blue-desaturated);
  padding: 7rem 8rem;
  width: 50%;
}

.stats__heading {
  color: var(--color-white);
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.stats__heading span {
  color: var(--color-violet);
}

.stats__para {
  color: var(--color-white-light);
  margin-bottom: 9rem;
}

.stats__footer {
  display: flex;
  justify-content: space-between;
  font-family: "Lexend Deca", sans-serif;
}

/* .stats__figure:not(:last-child) {
  margin-right: 7rem;
} */

.stats__figure p {
  color: var(--color-white);
  font-weight: 700;
  font-size: 2.4rem;
}

.stats__figure figurecaption {
  text-transform: uppercase;
  color: var(--color-white-lighter);
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

.stats__img {
  background-color: var(--color-violet);
  width: 50%;
}

.stats__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 60rem) {
  .stats__article {
    width: 90vw;
  }
  .stats__img {
    width: 90vw;
  }

  .stats__footer {
    flex-direction: column;
    align-items: center;
  }

  .stats__figure:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .stats__figure p {
    text-align: center;
  }

  .stats__heading {
    text-align: center;
    font-size: 2.8rem;
  }

  .stats__para {
    text-align: center;
    line-height: 2.5rem;
  }

  .stats__article {
    padding: 4rem;
  }

  .stats__figure p {
    font-size: 2.4rem;
  }

  main {
    padding: 5rem 0;
  }
}
